.text-center{
    text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-danger{
  color: red;
}

html{
  position: relative;
  min-height: 100%;
}

body{
  color: $blue-dark!important;
  margin-bottom: 60px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
#root{
  height: 100%;
}
.ant-divider {
  margin: 0!important;
}