.table{
    margin-top: 1rem;
    .ant-table{
        color: $blue-dark;
        border-radius: 10px;
        box-shadow: 1px 2px 27px 6px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 1px 2px 27px 6px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 1px 2px 27px 6px rgba(0, 0, 0, 0.05);
        .ant-table-container {
            table > {
                thead > {
                    tr:first-child {
                        th:last-child {
                            border-top-right-radius: 10px;
                        }
                        th:first-child {
                            border-top-left-radius: 10px;
                        }
                    }
                }
            }
            table {
                .ant-table-thead > {
                    tr > {
                        th {
                            color: $blue-dark;
                            font-size: 0.9rem;
                            font-weight: bold;
                            text-align: left;
                            background: #fff;
                            border-bottom: 1px solid #f0f0f0;
                        }
                    }
                }
            }
        }
    }
}