.authenpage {
  height: calc(100vh/1.5);
  background: #51b78e;
  -webkit-transform: skew(0deg, -7deg) translateY(-120px);
  transform: skew(0deg, -7deg) translateY(-120px);
  padding: 60px 0;
  .authenpage__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 0;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 1000;
    img {
      width: 3.5rem;
    }
    span {
      font-weight: bold;
      color: #fff;
      margin-left: 0.6rem;
      font-size: 2rem;
    }
  }
  .authenpage_content {
    -webkit-transform: skew(0deg, 7deg) translateY(120px);
    transform: skew(0deg, 7deg) translateY(120px);
    height: 100%;
  }
  .authenpage__form {
    width: 65%;
    margin: auto;
    margin-top: 6rem;
    background: #fff;
    padding: 3rem 5rem;
    border-radius: 1.5rem;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    box-shadow: 1px 2px 27px 6px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 2px 27px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 2px 27px 6px rgba(0, 0, 0, 0.15);
    @include formStyle($white-default, $green-default);
  }
}
