.authenpage {
    .footer {
        // position: absolute;
        // bottom: 0;
        margin-top: 8rem;
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
    
}

@include responsive("medium-large"){
    .authenpage{
        .footer{
            margin-top: 6rem;
        }
        
    }
  }
  @include responsive("default") {
    .authenpage {
        .footer {
            margin-top: 2rem;
        }
        
    }
  }
