.sideheader {
  background-color: #fff !important;
  .logo {
    padding: 1em;
    img {
      width: 70px;
    }
  }
  .sideheader__menu {
    background-color: #fff !important;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    li {
      padding: 1rem 1.5rem;
      margin-bottom: 1.5rem;
      position: relative;
      transition: 0.3s all;
      .menu__item {
        color: $blue-dark;
        font-weight: 700;
        font-size: 1rem;
        .item__img {
          margin-right: 1rem;
          img {
            width: 2rem;
          }
        }
        .item__title {
          margin-top: 5px;
        }
        &::before {
          position: absolute;
          content: "";
          width: 5px;
          height: 100%;
          background-color: transparent;
          left: 0;
          top: 0;
          border-radius: 0 20px 20px 0;
          transition: 0.3s all;
        }
        &.is-active {
          color: $green-default;
          .item__title {
            padding-top: 5px;
          }
          img{
            filter: invert(70%) sepia(23%) saturate(811%) hue-rotate(104deg) brightness(86%) contrast(88%);
          }
          &::before{
            background-color: $green-default;
          }
        }
      }
    }
  }
}