.loading-container {
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 10000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51b78e1e;
}
