//colors
$green-default: #51b78e;
$blue-dark: #262a4c;
$grey-default: #F5F5F5; 
$grey-1: #EBEBEB;
$grey-2: #EBEBF5;
$grey-3: #BCBDCA;
$yellow-default: #eebb4d;
$green-light: #d6efc7;
$green-medium: #96bb7c;
$white-default: #fff;

// font-size
$fs-0: 10px; 
$fs-1: 11px;
$fs-2: 12px;
$fs-4: 14px;
$fs-6: 16px;
$fs-4: 18px;
$fs-5: 20px;


//margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//border-radius
$border-radius: 2px;

//padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 11px;

// text transform
$tf-uppercase: uppercase;
$tf-initial: initial;


//font-weight
$fw-normal: normal;
$fw-bold-0: 400;
$fw-bold-1: 600;
$fw-bold-2: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large': 1920px,
    'large' : 1600px,
    'medium-large' : 1440px,
    'default' : 1366px,
    "ipad": 1024px,
    "mobile": 567px,
    "tiny": 480px,
    "super-tiny": 320px
)
